body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #222;
}

html {
	scroll-behavior: smooth;
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

h2 {
    font-size: 28px;
    font-weight: normal;
    margin-top: 0;
}

p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 700px;
}

header {
	background-color: #222;
	padding: 20px 40px;
	position: sticky;
	top: 0;
	z-index: 1000;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul{
	display: flex;
	list-style: none;
	gap: 25px;
}

nav h2 {
	color: white;
}

nav a {
	color: white;
	text-decoration: none;
}

section {
	padding: 100px 10%;
}

#home {
	min-height: 70vh;
	box-sizing: border-box;
}

#about, #projects {
	background-color: white;
}



.button{
	padding: 10px 20px;
	background-color: #222;
	text-decoration: none;
	color: white;
	display: inline-block;
	border-radius: 15px;
	transition: border-radius 0.5s;
}

.button:hover {
	border-radius: 10px;
}

.skill-card {
	background-color: white;
	padding: 25px;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	transition: transform 0.5s;
}

.skill-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.skill-card:hover {
	transform: translateY(-5px);
}

@media (max-width: 768px){
	.skill-grid {
		grid-template-columns: 1fr;
	}
	
	nav {
		flex-direction: column;
	}
	
	nav ul {
		padding: 0;
		gap: 15px;
		flex-wrap: wrap;
		justify-content: center
	}

}

.project-card {
	background-color: #f4f4f4;
	padding: 25px;
	border-radius: 10px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.tech-list {
	display: flex;
	gap: 35px;
	list-style: none;
	align-items: center;
	padding: 0;
	flex-wrap: wrap;
}

.tech-list li {
	background-color: #222;
	color: white;
	padding: 8px 15px;
	border-radius: 15px;

}